<h1>Create Account</h1>
<form>(action="/users" method="post")
  <label>(for="email") Email</label>
  <input>(type="email" name="email" id="email" required)</input>
  <label>(for="password") Password</label>
  <input>(type="password" name="password" id="password" required)</input>
  <label>(for="password_confirmation") Confirm Password</label>
  <input>(type="password" name="password_confirmation" id="password_confirmation" required)</input>
  <input>(type="submit" value="Create Account")</input>
</form>
